<h1>Hi Friends, welcome to our super duper awesome URL shortener</h1>
<%= form_for @url do |f| %>
  <%= f.label :long_url, "Enter your long URL here!" %>
  <%= f.text_field :long_url %>
  <%= f.submit %>
<% end %>

<ul>
  <% @urls.each do |url| %>
    <li><%= render 'url', :url => url %></li>
  <% end %>
</ul>