<div class="container">


  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">


    <button  id="show_post_form" class="btn btn-primary">Share Something</button>



    <div id="post_form">
      <br/>
      <ul class="tabs">
          <li class="active"><a href="#tab1">Message</a></li>
          <li><a href="#tab2">Video</a></li>
          <li><a href="#tab3">Link</a></li>
      </ul>

      <div class="tab" id="tab1">
          <% if @post_new_errors %>
            <div class="errors"><%= @post_new_errors %></div>
            <br/>
          <% end %>
          <div class="row">
            <div class="col-md-5">
              <%= form_for [@wall, @post] do |f| %>
                <div class="form-group">
                  <%= f.label :title %><br/>
                  <%= f.text_field :title %>
                </div>
                <div class="form-group">
                  <%= f.label :description %><br/>
                  <%= f.text_area :description , :cols => "60", :rows => "3" %>
                </div>
                <%= f.submit "Create Post", :class => 'btn btn-success'  %>
              <% end %>
            </div>
          </div>

      </div>

      <div class="tab" id="tab2">
          <% if @post_new_errors %>
            <div class="errors"><%= @post_new_errors %></div>
            <br/>
          <% end %>

          <form role="form" id="create_post" method="post" action="/posts">

            <div class="form-group">
              <label for="exampleInputPassword1">Title</label>
              <input  class="form-control" type="title" name="title" placeholder="Great search engine" value="<%= @title %>" required>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Embed Code</label>
              <textarea class="form-control" rows="4" cols="50" name="description" title="description" required><%= @description %></textarea>
            </div>

            <% if @signed_in == false %>
              <div class="form-group">
                <label for="exampleInputPassword1">Your Name</label>
                <input  class="form-control" name="your_name"  value="<%= @your_name %>" required>
              </div>
            <%end%>

            <input type="hidden" name="wall_id" value="<%=@wall.id%>">

            <button type="submit" class="btn btn-success">Post Your Video</button>
          </form>
      </div>

      <div class="tab" id="tab3">
        <% if @post_new_errors %>
          <div class="errors"><%= @post_new_errors %></div>
          <br/>
        <% end %>

        <form role="form" id="create_post" method="post" action="/posts">
          <div class="form-group">
              <label for="exampleInputPassword1">Link</label>
              <input class="form-control" type="url" name="link" placeholder="e.g., www.google.com" value="<%= @link %>" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Title</label>
            <input  class="form-control" type="title" name="title" placeholder="Great search engine" value="<%= @title %>" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <textarea class="form-control" rows="4" cols="50" name="description" title="description" required><%= @description %></textarea>
          </div>



          <input type="hidden" name="wall_id" value="<%=@wall.id%>">

          <button type="submit" class="btn btn-success">Post Your Link</button>
        </form>
      </div>
    </div>






    </div>
    <div class="col-md-1"></div>
  </div>
  <br/><br/>
  <% if @posts.length == 0 %>
    <p>No posts yet</p>
  <%else%>
  <% @posts.each do |post| %>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <img class="vote" data-id="<%=post.id%>" src="http://www.icondig.com/data/icons/nounproject/512/330.png" height="50" width="50"/>
            <p class="vote-count-<%=post.id%>"><%=post.vote_count%> Votes</p>

        </div>
        <div class="col-md-6">
            <h3><%=post.title%></h3>
            <% if post.link %>
            <a href="<%=post.link%>" target="_blank">View Link</a>
            <%end%>
            <p><%=post.description%></p>
        </div>
        <div class="col-md-2 post-info">
            <% if post.user_id %>
              <% user = User.find(post.user_id) %>
            <%end%>
            <% if post.user_id %>
              <p>Posted by: <%=user.name%></p>
            <%else%>
              <p>Posted by <%=post.anon_name%></p>
            <%end%>
            <%formatted_date = post.created_at.strftime('%b %d %Y at %H:%M')%>
            <p><%=formatted_date%></p>
            <p><a href="/posts/<%=post.id%>"><%=post.comments.length%> Comments</a></p>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr/>
    <%end%>
    <%end%>


